#name {
    color: white;
    text-transform: uppercase;
    font-size: 40pt;
    font-family: sans-serif;
    text-align: center;
}

#role {
    color: white;
    text-transform: capitalize;
    font-size: 30pt;
    font-family: sans-serif;
    font-family: sans-serif;
    text-align: center;
}

#page {
    z-index: 1;
    min-height: 948px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#u287 {
    z-index: 2;
    position: relative;
    margin-right: -10000px;
    width: 20.11%;
    left: 1.98%;
}

#u297 {
    z-index: 4;
    position: relative;
    margin-right: -10000px;
    margin-top:-276px;
    width: 36.98%;
    left: 22.71%;
}

#u307 {
    z-index: 6;
    position: relative;
    margin-right: -10000px;
    width: 58.03%;
    left: 22.71%;
}

#u317 {
    z-index: 8;
    position: relative;
    margin-right: -10000px;
    width: 20.21%;
    margin-top: -301px;
    left: 60.63%;
}

#u327 {
    z-index: 10;
    position: relative;
    margin-right: -10000px;
    margin-top: -144px;
    width: 18.34%;
    
    left: 81.67%;
}

#u339 {
    z-index: 12;
    position: relative;
    margin-right: -10000px;
    width: 18.34%;
    left: 81.57%;
}

#u349 {
    z-index: 14;
    position: relative;
    margin-right: -10000px;
    margin-top: 0px;
    width: 20.11%;
    left: 1.98%;
}

#u359 {
    z-index: 16;
    position: relative;
    margin-right: -10000px;
    margin-top: -200px;
    width: 32.09%;
    left: 22.5%;
}

#u369 {
    z-index: 18;
    position: relative;
    margin-right: -10000px;
    margin-top:0px;
    width: 31.98%;
    left: 22.61%;
}

#u379 {
    z-index: 20;
    position: relative;
    margin-right: -10000px;
    margin-top: -238px;
    width: 35.63%;
    left: 55.11%;
}

#u389 {
    z-index: 22;
    position: relative;
    margin-right: -10000px;
    margin-top:-39px;
    width: 20.11%;
    left: 1.98%;
}

#u399 {
    z-index: 24;
    position: relative;
    margin-right: -10000px;
    margin-top: -340px;
    width: 7.71%;
    left: 92.19%;
}

#u409 {
    z-index: 26;
    position: relative;
    margin-right: -10000px;
    margin-top: -48px;
    width: 24.07%;
    left: 22.5%;
}

#u389_img, #u409_img {
    padding-bottom: 0px;
    width: 100%;
}

#u509 {
    z-index: 28;
    position: relative;
    margin-right: -10000px;
    margin-top: -128px;
    width: 23.65%;
    left: 47.09%;
}

#u519 {
    z-index: 30;
    position: relative;
    margin-right: -10000px;
    margin-top: -148px;
    width: 6.98%;
    left: 71.25%;
}

#u529 {
    z-index: 32;
    position: relative;
    margin-right: -10000px;
    margin-top: -148px;
    width: 20.84%;
    left: 1.98%;
}

#u539 {
    z-index: 34;
    position: relative;
    margin-right: -10000px;
    margin-top: -304px;
    width: 12.92%;
    left: 78.65%;
}
#u564 {
    z-index: 36;
    position: relative;
    margin-right: -10000px;
    margin-top: -28px;
    width: 23.65%;
    left: 46.98%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1742px);
}

.html {
    background-color: #000000;
}



#u287_img,
#u297_img,
#u307_img,
#u317_img,
#u327_img,
#u339_img,
#u349_img,
#u359_img,
#u369_img,
#u379_img,
#u399_img,
#u509_img,
#u519_img,
#u529_img,
#u539_img,
#u564{
    width: 100%;
}

body {
    background-color: black;
}
        ul.topnav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
    font-family: sans-serif;
  text-decoration: none;
  transition: 0.3s;
  font-size: 27px;
}

ul.topnav li a:hover {background-color:navy;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: center;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position:relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align:center;
  }
}